@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="container">
    <div class="card alert alert-dark ">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <p><b>This Site is developed solely to provide a safe platform for authors to share their view and ideas. It does not intend to hurt anyone sentiment based on any groud. In case of any issue feel free to contact us. </b></p>
        <p>Drop a mail at devanshee07@gmail.com</p>
    </div>
</div>

<div class="container">
    <div class="card alert alert-primary">
        <h3><b>Developed By</b></h3> 
        <h4>Devanshee</h4>
        <p>Roll No : CE142</p>
        <p>ID : 18CEUOG092</p>
        <p>SEMESTER : 5</p>
    </div>
</div>