<!--model ErrorViewModel
{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
-->




<div class="container">
    <div class="card alert alert-danger">
        <h3>Resource Not Found</h3>
        <hr />
        <p><b>Sorry. The Resource you are trying to access is currently unavailable.</b></p>
    </div>
</div>

<div class="container">
    <div class="card alert alert-info" >
        <h4>You Can Contact Us</h4>
        <hr />
        <p><b>Devanshee Vankani</b></p>
        <p>devanshee07@gmail.com</p>
    </div>
</div>